.pdb {
	width: 100%;

	.img-style {
		width: 100%;
		padding: 10px;
	}

	.divider {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.molecule-link {
		text-align: center;
	}

	.pdb-links {
		margin-top: 0.5em;
	}
}