.header{
	.header-img {
		max-width: 75em;
		width: 100%;

	}
	.navbar{
		width: 100%;
		background-color: #84a3e1;
		padding-left: 20px;
		margin: 0;
		min-height: 0;
		border-radius: 0;
		font-size: 1em;

		.navbar-item{
			color: white;
			min-width: 30px;
			padding: 5px 10px;
			display: inline-block;
			height: 100%;
			a{
				color: white;
				text-decoration: none;

			}

			&:hover{
				padding: 5px 10px;
				background-color: #0066cc;
				a{
					color: yellow;
				}
			}
		}

		.selected-item {
			color: yellow;
			background-color: #0066cc;
			min-width: 30px;
			padding: 5px 10px;
			display: inline-block;
			height: 100%;
			a{
				color: white;
				text-decoration: none;

			}
		}
	}
}
