.popup {
	text-align: left;

	ol {
		&.letter-list{
			list-style-type: lower-alpha;
		}

		>li {
			margin: 5px 0 0 0;
		}
	}

	.underline {
		text-decoration: underline;
	}

	.example-table {
		font-family: "Courier New";
		margin: 0 auto;

		tr {
			background-color: white;

			:nth-last-child(-n+3) {
				text-align: right;
			}

			>td {
				padding-left: 20px;
				width: 30px;
			}
		}
	}

	h1 {
		color: #000066;
	    font-size: 18px;
	    line-height: 14px;
	    font-weight: bold;
	    margin-bottom: 10px;
	}
}