.server{
    padding: 15px;

    .page-header {
        font-family: Verdana-Bold;
        color: #b30000;
        font-size: 20px;
        line-height: 28px;
        font-weight: bold;
        padding: 0;
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        border-bottom: 3px solid black;
    }

    .pdb-file-search{
        width: 30%;
        .pdb_search_results{
            
        }
    }

    ul {
        list-style-type: none;
        padding:0px;
        font-size: 14px;

        >li {
            margin: 20px 0px 0px 0px;
            select {
                margin-left: 20px;
            }

            input {
                margin-left: 20px;
                display: inline-block;
                padding: 5px;
            }
        }

        >li#li_4 {
            table {
                margin-left: 20px;
                tr {
                    td {
                        label {
                            color: #666;
                        }
                    }
                }
            }

            input {
                margin-top: 10px;
                margin-left: 20px;
                margin-bottom: 10px;                
            }

        }

        

        >li.title {
            margin-top: 0px;
            h3 {
                color: #b30000;
                font-weight: bold;
                border-bottom: 3px solid rgb(0, 102, 204);
                padding-bottom: 10px;
                margin-top: 0px;
            }
        }
		
		>li#err {
			color: #ff0000;
		}

        >li.buttons {
            display: inline-block;
            input {
                margin-left: 0px;
                border: 1px solid rgb(0, 102, 204);
                background: #fafafa;
                color: rgb(0, 102, 204);
                padding: 10px 20px;
                font-weight: bold;

                &:hover {
                    background: #ddd;
                }
            }
        }
    }

    .no-indent{
        margin-left: 0;
        padding-left: 0;
    }

    .expand-link {
		color: #337ab7;
        cursor: pointer;
        margin: 10px 0 0 0;

		&:hover {
			text-decoration: underline;
		}
	}

    button.submit {
        margin-top: 10px;
        margin-left: 0px;
        border: 1px solid rgb(0, 102, 204);
        background: #fafafa;
        color: rgb(0, 102, 204);
        padding: 10px 20px;
        font-weight: bold;

        &:hover {
            background: #ddd;
        }
    }
}
