.classification{
	padding: 15px 10px;

	.table-section {
		margin-top: 30px;
	}

	.info-loading {
		width: 100%;
		.loading-image {
			margin-left: 45%;
			width: 10%;
		}
	}

	.list-section {
		margin-top: 20px;

		.list-header {
			color: #009900;
		    font-size: 15px;
		    font-weight: bold;
		    margin-bottom: 6px;
		}
	}
	.page-header {
		font-family: Verdana-Bold;
		color: #b30000;
	    font-size: 20px;
	    line-height: 28px;
	    font-weight: bold;
	    padding: 0;
	    margin-top: 0;
	    margin-bottom: 10px;
	    margin-left: 0;
	    margin-right: 0;
	    border-bottom: 3px solid black;
	}
}		
