.molecule-viewer {
    padding: 40px;
    ul {
        list-style-type: none;
        padding:0px;

        li.title {
            margin-top: 0px;
            margin-bottom: 40px;
            h3 {
                color: #b30000;
                font-weight: bold;
                border-bottom: 3px solid rgb(0, 102, 204);
                padding-bottom: 10px;
                margin-top: 0px;
            }
        }
    }
    tr:nth-child(even) {
        background-color: #eef3f5;
    }
}

.model_view_container {
    display: flex;
}

.fa-arrow-left {
    margin-right: 1px;
}

.fa-arrow-right {
    margin-left: 1px;
}

.fa-arrow-right, .fa-arrow-left {
    padding: 10px;
    width: 80px;
    flex: 1;
    color: #06c;
    cursor: pointer;

    &:hover {
      color: #23527c;
      text-decoration: underline;
    }

	background-color: #F0F5F6;
}

.glmol_tr td{
	padding: 5px;
}

.glmol_tr:hover{
	background-color:lightgray;
	cursor:pointer;
}

.model-control-arrows{
    display: flex;
    padding: 1px;
	text-align: center;
	border: 1px solid #E1E1E1;
    background: #06c;
}

.model-control-arrows i:hover {
	cursor: pointer;
	color:  #E1E1E1;
}



.selected {
    background-color: #E1E1E1 !important;
}


.model_select_table table{
		 border-collapse: collapse;
		 border: 1px solid #E1E1E1;
		 font: 80% Verdana, Arial, Helvetica, sans-serif;
         margin-left: 40px;
	}
  
    .model_select_table table thead tr{
      padding: 4px;
	  
    }
	

	
	 .model_select_table table thead tr th{
      padding: 6px;
	  font-weight: bold;
	  color: #115FA3;
	  background-color: #F0F5F6;
      border-right: 1px solid lightgrey;
      font: normal Verdana, Arial, Helvetica, sans-serif;
      text-align: center;
      font-weight: bold;
    }

    .model_select_table table{
      text-align: center;
      padding-right: 100px;
    }
	
	.model_select_table table tbody tr {
		border: 1px solid #E1E1E1;
	}
	
	.model_select_table table tbody tr td{
		padding: 6px;
	}
	
		.model_select_table table thead{
		   border-bottom: 3px solid #999 !important;
	}
