.sidebar{
	text-align: center;
	width: 200px;

	@media print {
		display: none;
		padding: 0;
		margin: 0;
		border: 0;
	}

	.server-banner {
		padding-top: 50px;
		width: 60%;
	}
	.sidebar-nav {

		padding: 10px;
		margin-top: 25px;
		margin-bottom: 25px;
		text-align: left;
		border-bottom: 1px solid grey;
		border-top: 1px solid grey;
		background-color: #ffffcc;

		&.minor{
			background-color: white;
		}
		.item{
			padding-top: 2.5px;
			padding-bottom: 2.5px;
			span {
				color: black;
			}
		}
		.not-selected{
			color: #336699;
		}
	}

	.info-loading {
		width: 100%;
		border-bottom: 1px solid grey;
		border-top: 1px solid grey;
		background-color: white;
		.loading-image {
			width: 5em;
			margin-left: 0;
			margin-top: 0;
		}
	}

}
