.acknowledgments{
	padding: 15px;

	.page-header {
        font-family: Verdana-Bold;
        color: #b30000;
        font-size: 20px;
        line-height: 28px;
        font-weight: bold;
        padding: 0;
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        border-bottom: 3px solid black;
    }

	h1 {
	    font-size: 16px;
	    line-height: 20px;
	}
	
	.ack-text {
		text-indent: 15px;
		padding-bottom: 0px;
		margin-top: 5px;
		margin-bottom: 15px;
		font-size: 14px;
		
		.pic-info {
				text-indent: 0px;
				margin-left: 15px;
		}

	}
    ul {
        list-style-type: none;
        padding: 0px;
    }

}
