.about{

    padding: 15px;
    .page-header {
        font-family: Verdana-Bold;
        color: #b30000;
        font-size: 20px;
        line-height: 28px;
        font-weight: bold;
        padding: 0;
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        border-bottom: 3px solid black;
    }
	h1 {
		padding: 0px;
	    color: #b30000;
	    font-size: 22px;
	    line-height: 28px;
	    font-weight: bold;
	    margin-top: 0;
	    margin-bottom: 10px;
	    border-bottom: 3px solid black;
	}
		
	.about-text {
		text-indent: 15px;
		padding-bottom: 0px;
		margin-top: 5px;
        margin-bottom: 15px;
        font-size: 14px;
		
		.pic-info {
				img {
					height: calc(6vh);
				}
				
				text-indent: 0px;
				margin-left: 15px;
		}

	}


    .paragraph-equation{
        margin-bottom: 10px;
    }
    .multi-equation{
        margin-bottom: 25px;
    }
    .equation{
        width: 50%;
    }
    .equation-number{
        width: 50%;
        float: right;
    }

    ul {
        list-style-type: none;
        padding:0px;

        li {
            margin: 20px 0px 0px 0px;
            select {
                margin-left: 20px;
            }

            input {
                margin-left: 20px;
                display: inline-block;
                padding: 5px;
            }
        }


        li.title {
            margin-top: 0px;
            h3 {
                color: #b30000;
                font-weight: bold;
                border-bottom: 3px solid rgb(0, 102, 204);
                padding-bottom: 10px;
                margin-top: 0px;
            }
        }
    }
}
