.download{
    padding: 15px;
    .page-header {
        font-family: Verdana-Bold;
        color: #b30000;
        font-size: 20px;
        line-height: 28px;
        font-weight: bold;
        padding: 0;
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        border-bottom: 3px solid black;
    }
    .files {
        ul {
            list-style-type: none;
            padding:0px;
            font-size: 14px;

            li {
                margin: 20px 0px 0px 0px;
                select {
                    margin-left: 20px;
                }

                input {
                    margin-left: 20px;
                    display: inline-block;
                    padding: 5px;
                }
            }


            li.title {
                margin-top: 0px;
                h3 {
                    color: #b30000;
                    font-weight: bold;
                    border-bottom: 3px solid rgb(0, 102, 204);
                    padding-bottom: 10px;
                    margin-top: 0px;
                }
            }
        }
    }
    .download-csv {
        padding-left: 20px;
        font-weight: bold;
        .csv-list {
            list-style-type: none;
            padding-left: 10px;
            margin: 0;
        }
    }
}
