.molecule{
	padding: 15px;
	width: 100%;

	.page-header {
		font-family: Verdana-Bold;
		color: #b30000;
	    font-size: 20px;
	    line-height: 28px;
	    font-weight: bold;
	    padding: 0;
	    margin-top: 0;
	    margin-bottom: 10px;
	    margin-left: 0;
	    margin-right: 0;
	    border-bottom: 3px solid black;
	}
	.molecule-info {
		width: 100%;

		a {
			border-bottom: 1px solid #c9d6e6;
			text-decoration: none;

			&:hover {
		    	color: #000;
		    	background: #c9d6e6;
			}
		}

		li {
			line-height: 1.7em;
			font-size: 14px;
		}
	}
	.random-molecule{
		float: right;
		padding-bottom: 10px;
		// padding-left: 50px;
		padding-right: 10em;
		text-align: center;
		width: 30em;
		// height: 50em;
		max-width: 100%;

		@media print {
			width: 22em;
			padding-right: 0;
		}

		.3d-viewer {
			padding-top: 10px;
		}

		.topology-section {
			width: 100%;
			overflow: auto;
			margin-top: 1em;
			padding: .5em;
			border: 1px solid #ddd;
			background-color: #eef3f5;

			hr {
			    display: block;
			    height: 1px;
			    border: 0;
			    border-top: 1px solid #ccc;
			    margin: 1em 0;
			    padding: 0; 
			}
		}
	}

	.info-table{
		width: 100%;
		max-width: 500px;

		@media print {
			width: 55%;
		}

		&.full{
			max-width: 100%;
		}

		table{
			table-layout: fixed;
			display: table;
    		border-collapse: separate;
    		font-size: 12px;
			width: 100%;
		    margin-top: 20px;
		    margin-bottom: 20px;
		    vertical-align: top;
		    border-left: 1px solid #ddd;
			border-top: 1px solid #ddd;

		    tbody{
		        display: table-row-group;
    			vertical-align: middle;
    			tr{
					display: table-row;
					vertical-align: inherit;
					border-color: inherit;
					border: 1px solid #ddd;
					max-width: 50%;
					th{
						font-size: 11px;
						color: #159;
						text-align: center;
						border-right: 1px solid #ddd;
						border-bottom: 3px solid lightgray;
						padding: 3px;
						background-color: #eef3f5;
    					color: #4080bf;
					}
					&.dark{
						background-color: #eef3f5;
					}
					&.light{
						background-color: #fff;
					}
					td{
						font-size: 11px;
						display: table-cell;
						border-right: 1px solid #ddd;
						border-bottom: 1px solid #ddd;
						padding: 5px;

						&.right{
							text-align: right;

						}
						&.left{
							text-align: left;
							word-break: break-word;
						}

						p.link {
							margin: 0 0 2px 0;
							padding: 0;
						}

						&.mono {
							font-family: monospace;
							font-size: 13px;
						}

						.red {
							color: red;
						}

						.blue {
							color: blue;
						}

						.domain {
							margin: 5px 0 15px 0;
							padding: 0;
							text-indent: 15px;
						}
					}
				}
		    }
			
		}
	}

}

.info-loading {
	width: 100%;
	height: 100%;
	.loading-image {
		margin-top: 5%;
		margin-left: 35%;
		width: 20%;
	}
}