.home {
	padding: 15px;

	.page-header {
        font-family: Verdana-Bold;
        color: #b30000;
        font-size: 20px;
        line-height: 28px;
        font-weight: bold;
        padding: 0;
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        border-bottom: 3px solid black;
    }

	h1 {
		padding: 0px;
	    color: #b30000;
	    font-size: 22px;
	    line-height: 28px;
	    font-weight: bold;
	    margin-top: 0;
	    margin-bottom: 10px;
	    border-bottom: 3px solid black;
	}


	i {
		color: green;
	}

	.random-protein {
		float: right;
		padding-bottom: 50px;
		padding-left: 25px;
		max-width: 250px;
		width: 90%;
		.img-style {
			width: 100%;
		}

		.protein-link {
			text-align: center;
		}

	}



	.home-text {
		font-size: 14px;


		.indented {
			p {
				text-indent: 15px;
			    padding-bottom: 0px;
			    margin-top: 5px;
			    margin-bottom: 15px;
			}
		}

		.questions-box {
			width: 100%;
			margin-top: 2em;
			margin-bottom: 2em;
			border-right-color: black;
			border-right-width: 0.15em;
			border-right-style: solid;
			border-left-color: black;
			border-left-width: 0.15em;
			border-left-style: solid;
			border-bottom-color: black;
			border-bottom-width: 0.15em;
			border-bottom-style: solid;

			.box-header {
				background-color: black;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
				.header-text {
					margin-left: 1em;
					color: white;
				}
			}

			.box-body {
				padding: 10px;

				.info-loading {
					width: 100%;
					.loading-image {
						margin-left: 40%;
						margin-top: 0;
						width: 20%;
					}
				}
			}
		}

	}

	.structure-stats{

		.type-stat{
			p{
				font-weight: 1.4em;
				margin: 0;
				padding: 0;
			}

			.classtype-stat-holder{
				margin-left: 10%;
				.classtype-stat{
					margin: 0;
					padding: 0;

				}
			}
		}
	}
}

.nih-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	
	.nih-logo {
		float:left;
		height:50px;
		margin-right: 10px;
	}

	p {
	
	}
}
