.api-search {
	width: 100%;
	min-width: 200px;
	display: inline-block;
	.submit-button {
		 cursor: pointer;
		 &:hover {
		 	background-color: #cccccc;
		 	color: black;
		 }
	}

	input[type="text"]{
		padding-left: 10px;
	}

}